* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --bg-gradient-onyx: linear-gradient(to bottom right,
      hsl(240, 1%, 25%) 3%,
      hsl(0, 0%, 19%) 97%);
  --bg-gradient-jet: linear-gradient(to bottom right,
      hsla(240, 1%, 18%, 0.251) 0%,
      hsla(240, 2%, 11%, 0) 100%), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(to bottom right,
      hsl(45, 100%, 71%) 0%,
      hsla(36, 100%, 69%, 0) 50%);
  --bg-gradient-yellow-2: linear-gradient(135deg,
      hsla(45, 100%, 71%, 0.251) 0%,
      hsla(35, 100%, 68%, 0) 59.86%), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(to bottom right,
      hsl(0, 0%, 25%) 0%,
      hsla(0, 0%, 25%, 0) 50%);
  --text-gradient-yellow: linear-gradient(to right,
      hsl(45, 100%, 72%),
      hsl(35, 100%, 68%));

  --jet: hsl(0, 0%, 22%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: hsl(45, 100%, 72%);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 0%, 84%);
  --light-gray-70: hsla(0, 0%, 84%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  --ff-poppins: 'Poppins', sans-serif;
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

img,
ion-icon,
a,
button,
time,
span {
  display: block;
}

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

input,
textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}

::selection {
  background: var(--orange-yellow-crayola);
  color: var(--smoky-black);
}

:focus {
  outline-color: var(--orange-yellow-crayola);
}

html {
  font-family: var(--ff-poppins);
}

body {
  background: var(--smoky-black);
}

body {
  color: white;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1rem;
}

header {
  background-color: #27282a;

  border-radius: 18px;
  padding-left: 2rem;
}

.container {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 0.9rem;
  align-items: start;
  justify-content: start;
}

.icon .fa-icon {
  position: relative;
  background: #313234;
  padding: 5px;
  border-radius: 14px;
  box-shadow: #27282a;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
  width: 40px;
height: 40px;
 
}

.fa-icon img{
width: 30px;
height: 30px;
align-items: center;
}

.icon h4 {
  font-size: 0.8rem;

  font-weight: 400;
}

.icon span {
  font-weight: 600;
}


.left-content {
  background-color: #27282a;
  height: 95vh;
  border-radius: 20px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 0.5rem;
  position: sticky;
  padding-left: 1rem;
}

.left-content img {
  background-color: #313234;
  border-radius: 35px;
  margin-bottom: 1rem;
}

.left-content h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 3rem;
}

.left-content button {
  background-color: #313234;
  color: aliceblue;
  padding: 0.9rem;
  font-size: 1rem;
  margin-top: 8px;
  border-radius: 20px;
  border-color: transparent;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  margin-bottom: 1rem;
}

.left-content hr {
  width: 17em;
  height: 4px;
  background-color: #3d3e3f;
  border: none;
  border-radius: 15px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.social-links{

  font-size: 2rem;
 
}


.right-content {
  display: flex;
  margin-right: 0.5rem;
  margin-top: 1rem;
  flex-wrap: nowrap;


}

.navigation_links {
  background-color: #313234;
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 2rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-bottom-left-radius: 15px;
  margin-left: 29em;

}

.navigation_links a {
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  font-family: "Rubik", sans-serif;

}

.navigation_links a:hover {
  color: #b8b846;
}

.about-me {
  padding-bottom: 26px;
}

.about-me h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;

}

.about-me hr {
  width: 45px;
  background-color: #b8b846;
  height: 6px;
  border-radius: 15px;
  margin-top: 13px;
  margin-bottom: 16px;
}

.about-me p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  line-height: 25px;
}

.services h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.services {
  margin-right: 2rem;
}

.webbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  list-style-type: none;

}

.web {
  position: relative;
  background: #313234;
  padding: 20px;
  border-radius: 14px;
  box-shadow: #27282a;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr;
}

.web::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;

}

.web h4 {
  margin-top: 15px;
}